<h1 style="text-align: center;">{{titulo}}</h1>
<form action="">
  <input type="text" name="nombre" [(ngModel)] ="nombre"> <br>
  <input type="text" name="apellido" [(ngModel)] ="apellido"> <br>
  <input type="submit" value="registrar" (click)="registarUSuario()"> <br>
</form>
<p *ngIf = "registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} y apellido {{apellido}}</p>

<ng-template #sinRegistrar>
  <p>nadie registrado</p>

</ng-template>

<br><br>
<ul>
  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>
